<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <header>
        <h1>Hetic</h1>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/register">Inscription</a></li>
                <li><a href="/chat">ChatRoom</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>